<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Novo Reserva Efetuada no WorkinHub</h2>

    <br />
    Olá {{coworkingName}},
    <br />

    Uma nova reserva foi efetuada no seu coworking pela plataforma WorkinHub.
    <br />
    Abaixo estão as informações da reserva:
    <br />
    Código do Pedido: {{reservaCodPedido}}
    <br />
    <br />

    <b>  Cliente:</b>
    <br />
    Nome : {{clienteName}} <br />
    Telefone : {{clienteTelefone}} <br />
    CPF : {{clienteCPF}} <br />
    E-mail : {{clienteEmail}} <br />
    <br />
    <h3>Detalhes da RESERVA</h3>

    Horário da solicitação: {{reservaDataSolicitacao}}
    <br />
    Quantidade de Dependencias : {{reservaQuantidade}}
    <br />
    Espaços solicitados:
    <br />
    {{reservaDependencias}}
    <br />
    <br />
    Início : {{reservaInicio}}
    <br />
    Término : {{reservaTermino}}
    <br />
    Tipo de reserva : {{reservaTipo}}
    <br />
    Valor Total : {{reservaTotal}}
    <br />
    Valor Total Com Desconto : {{reservaTotalCDesconto}}
    <br />
    <br />
    Caso precise de alguma ajuda com essa reserva, a WorkinHub esta disponível pelo e-mail contato@workinhub.com.br ou WhatsApp +55 (11) 94159-8259.

    <br />
    Muito obrigado por ser um Parceiro WorkinHub!
    <br />

</body>
</html>